<div class="row">
    <h1>Async and Await</h1>
</div>

<div id="timeTaken"></div>
<div id="result"></div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Process.js"></script>