<div class="row">
    <h1>Async and Await</h1>
</div>

<h3>Process 1</h3>
<!--First process-->
<div id="timeTaken1"></div>
<div id="result1"></div>

<!--second process-->
<h3>Process 2</h3>

<div id="timeTaken2"></div>
<div id="result2"></div>

<!--third process-->
<h3>Process 3</h3>

<div id="timeTaken3"></div>
<div id="result3"></div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Process.js"></script>